src/main/resources/historyTracking/network/artifact/
src/main/resources/historyTracking/network/crypto-config/
src/main/resources/historyTracking/network/data/
src/main/resources/historyTracking/network/log/
